@model IEnumerable<BugTracker.Models.Ticket>

<table class="table">
        <tr>
            <th>
                Ticket Name
            </th>
            <th>View Details
            </th>
        </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}
</table>
