@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <br />
    <br />
    <div class="row">

    <div class="col-md-4">
        <p align="center"><img src="~/Attachments/BugTrackerCollage.jpg" /></p>
    </div>

    <div class="col-md-7">
        <div class="jumbotron">
        <p align="center">BugTracker is a Secured Web Application used by 
            software developers to keep track of issues, tasks, projects, and people 
            when developing and or improving their applictions.To get started please 
            register or login and create a project
        </p>
        </div>
    </div>
   <div class="col-md-1"></div>

        </div>
</div>

