@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="row">
    <div class="col-md-5">
        <div class="jumbotron">
           <p align ="center"><img src="~/Attachments/bug.png" /></p>
        </div>
    </div>
<div class="col-md-offset-1"></div>
    <div class="col-md-5">
    </div>
</div>
